* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pixelify-sans-<uniquifier> {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #ffd3bb;
    color: #333;
    line-height: 1.6;
}

h1, h2, p {
    font-family: 'Pixelify Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ff7963;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; /* Logo e navegação nas extremidades */
    align-items: center; /* Alinha verticalmente */
}

header .logo {
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
}

.logo {
    width: 50px;
    float: left;
}

logobig {
    width: 100px;
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}


#hero {
    background-image: url('images/hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #e70e40;
}

#hero h1 {
    font-size: 60px;
}

#hero p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0c040;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #e0b030;
}

.info-section {
    padding: 50px 0;
    text-align: center;
}

#sobre, #jogabilidade, #personagens {
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #f0c040;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
